@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    ::-webkit-scrollbar {
    width: 7px; /* Set the width of the scrollbar */
    }
    
    ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Set the background color of the track (the area behind the thumb) */
    }
    
    ::-webkit-scrollbar-thumb {
    background: #FFB641; /* Set the color of the thumb (the draggable part of the scrollbar) */
    }
    .wrapper {
        @apply max-w-[1600px] mx-auto
    }
    .image-clamp {
        width: clamp(300px, 50vw, 700px);
    }
    .section-container {
        @apply mt-[50px] sm:mt-[75px] md:mt-[100px] lg:mt-[150px]
    }
    .benefits-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(clamp(300px, 30vw, 520px), 1fr));
        gap: 20px;
    }
    .courses-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(clamp(310px, 40vw, 780px), 1fr));
        gap: 20px;
    }
    .plans-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(clamp(270px, 30vw, 780px), 1fr));
        gap: 30px;
    }
}

